<?xml version="1.0"?>
<config>
   <modules>
        <Elektordi_RecapFacturation>
          <version>1.0.0</version>
        </Elektordi_RecapFacturation>
   </modules>
   <global>
        <blocks>
            <recapfactform>
                <class>Elektordi_RecapFacturation_Block</class>
            </recapfactform>
        </blocks>
   </global>
  <admin>
     <routers>
         <recapfactform>
            <use>admin</use>
            <args>
               <module>Elektordi_RecapFacturation</module>
               <frontName>recapfacturation</frontName>
            </args>
         </recapfactform>
      </routers>
 </admin>
 <adminhtml>
   <layout>
      <updates>
          <recapfactform>
              <file>recapfactform.xml</file>
           </recapfactform>
      </updates>
   </layout>
   <menu>
      <outils_fact translate="title" module="adminhtml">
         <title>Outils de facturation</title>
         <sort_order>100</sort_order>
         <children>
             <facturation>
                   <title>Facturation récapitulative</title>
                   <action>recapfacturation/adminhtml_index</action>
              </facturation>
          </children>
       </outils_fact>
    </menu>
    <acl>
        <resources>
            <admin>
                <children>
                    <catalog>
                        <children>
                            <outils_fact>
                                <title>Outils de facturation</title>
                            </outils_fact>
                        </children>
                    </catalog>
                </children>
            </admin>
        </resources>
    </acl>

  </adminhtml>

</config>
